h5py
html5lib
Keras
Markdown
matplotlib
mock
networkx
numpy
olefile
opencv-python
pandas
pbr
Pillow
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
scikit-image
scikit-learn
scipy
seaborn
selectivesearch
six
sklearn
subprocess32
Werkzeug
